extends layout/master

block content
    div
        h1 Hello World
        p.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Quasi facilis architecto tempora modi veniam! Eos blanditiis 
            accusantium voluptas nisi, quasi beatae officia facere sit sequi 
            laborum! Optio asperiores repudiandae modi.
        
        p.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolor fuga debitis 
            ratione qui suscipit, est nostrum deleniti reiciendis? Rem optio cupiditate quibusdam 
            possimus blanditiis quisquam obcaecati, laborum recusandae ipsa dolore adipisci earum
            pariatur ducimus, modi, eligendi nesciunt voluptate magnam!
